.clearfix {
  zoom: 1;
}
.clearfix:before {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.small {
  font-size: 0.916666em;
  font-weight: inherit;
  line-height: inherit;
}
.extra_small {
  font-size: 0.8333em;
  font-weight: inherit;
  line-height: inherit;
}
.medium {
  font-size: 1em;
  font-weight: inherit;
  line-height: 1.5em;
}
.large {
  font-size: 1.25em;
  font-weight: inherit;
  line-height: 1.5em;
}
.extra_large {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.5em;
}
.xx_large {
  font-size: 2.166666em;
  font-weight: inherit;
  line-height: 1.5em;
}
.h4 {
  font-size: 21px;
}
.alpha_color_gradient {
  background: #55585d;
  background: -moz-linear-gradient(top, #55585d 0%, #1c1d1f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #55585d), color-stop(100%, #1c1d1f));
  background: -webkit-linear-gradient(top, #55585d 0%, #1c1d1f 100%);
  background-image: -o-linear-gradient(top, #55585d 0%, #1c1d1f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#55585d,endColorstr=#1c1d1f);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#55585d, endColorstr=#1c1d1f)";
  color: #ffffff;
}
.alpha_color_gradient a,
.alpha_color_gradient h1,
.alpha_color_gradient h2,
.alpha_color_gradient h3,
.alpha_color_gradient h4,
.alpha_color_gradient h5 {
  color: #ffffff;
}
.alpha_color_gradient a:hover {
  color: #71b213;
}
.bravo_color_gradient {
  background: #4c790c;
  background: -moz-linear-gradient(top, #4c790c 0%, #71b213 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c790c), color-stop(100%, #71b213));
  background: -webkit-linear-gradient(top, #4c790c 0%, #71b213 100%);
  background-image: -o-linear-gradient(top, #4c790c 0%, #71b213 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#4c790c,endColorstr=#71b213);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#4c790c, endColorstr=#71b213)";
}
.charlie_color_gradient {
  background: #2d4807;
  background: -moz-linear-gradient(top, #2d4807 0%, #3d610a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2d4807), color-stop(100%, #3d610a));
  background: -webkit-linear-gradient(top, #2d4807 0%, #3d610a 100%);
  background-image: -o-linear-gradient(top, #2d4807 0%, #3d610a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#2d4807,endColorstr=#3d610a);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#2d4807, endColorstr=#3d610a)";
}
.delta_color_gradient {
  background: #2d4807;
  background: -moz-linear-gradient(top, #2d4807 0%, #3d610a 50%, #2d4807 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2d4807), color-stop(50%, #3d610a), color-stop(100%, #2d4807));
  background: -webkit-linear-gradient(top, #2d4807 0%, #3d610a 50%, #2d4807 100%);
  background-image: -o-linear-gradient(top left, #2d4807 0%, #3d610a 50%, #2d4807 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#2d4807,endColorstr=#2d4807);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#2d4807, endColorstr=#2d4807)";
}
.echo_color_gradient {
  background: #ff9b01;
  background: -moz-linear-gradient(top, #ff9b01 0%, #ff6600 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff9b01), color-stop(100%, #ff6600));
  background: -webkit-linear-gradient(top, #ff9b01 0%, #ff6600 100%);
  background-image: -o-linear-gradient(top, #ff9b01 0%, #ff6600 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ff9b01,endColorstr=#ff6600);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ff9b01, endColorstr=#ff6600)";
}
.fox_color_gradient {
  background: #2d4807;
  background: -moz-linear-gradient(top, #2d4807 0%, #3d610a 25%, #2d4807 50%, #4c790c 70%, #71b213 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2d4807), color-stop(50%, #2d4807), color-stop(70%, #4c790c), color-stop(100%, #71b213));
  background: -webkit-linear-gradient(top, #2d4807 0%, #3d610a 25%, #2d4807 50%, #4c790c 70%, #71b213 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#2d4807,endColorstr=#71b213);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#2d4807, endColorstr=#71b213)";
}
.golf_color_gradient {
  background: #91969f;
  background: -moz-linear-gradient(top, #91969f 0%, #36383c 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #91969f), color-stop(100%, #36383c));
  background: -webkit-linear-gradient(top, #91969f 0%, #36383c 100%);
  background-image: -o-linear-gradient(top, #91969f 0%, #36383c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#91969f,endColorstr=#36383c);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#91969f, endColorstr=#36383c)";
}
.hotel_color_gradient {
  background: #e5edfd;
  background: -moz-linear-gradient(top, #e5edfd 0%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5edfd), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, #e5edfd 0%, #ffffff 100%);
  background-image: -o-linear-gradient(top, #e5edfd 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e5edfd,endColorstr=#ffffff);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e5edfd, endColorstr=#ffffff)";
}
.india_color_gradient {
  background: #ff6600;
  background: -moz-linear-gradient(top, #ff6600 0%, #ff9b01 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff6600), color-stop(100%, #ff9b01));
  background: -webkit-linear-gradient(top, #ff6600 0%, #ff9b01 100%);
  background-image: -o-linear-gradient(top, #ff6600 0%, #ff9b01 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ff6600,endColorstr=#ff9b01);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ff6600, endColorstr=#ff9b01)";
}
.juliet_color_gradient {
  background: #e5edfd;
  background: -moz-linear-gradient(top, #e5edfd 0%, #aeb4bf 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5edfd), color-stop(100%, #aeb4bf));
  background: -webkit-linear-gradient(top, #e5edfd 0%, #aeb4bf 100%);
  background-image: -o-linear-gradient(top, #e5edfd 0%, #aeb4bf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e5edfd,endColorstr=#aeb4bf);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e5edfd, endColorstr=#aeb4bf)";
}
.kilo_color_gradient {
  background: #36383c;
  background: -moz-linear-gradient(top, #36383c 0%, #91969f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #36383c), color-stop(100%, #91969f));
  background: -webkit-linear-gradient(top, #36383c 0%, #91969f 100%);
  background-image: -o-linear-gradient(top, #36383c 0%, #91969f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#36383c,endColorstr=#91969f);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#36383c, endColorstr=#91969f)";
}
.lima_color_gradient {
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #e5edfd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5edfd));
  background: -webkit-linear-gradient(top, #ffffff 0%, #e5edfd 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #e5edfd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff,endColorstr=#e5edfd);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff, endColorstr=#e5edfd)";
}
.mike_color_gradient {
  background: #aeb4bf;
  background: -moz-linear-gradient(top, #aeb4bf 0%, #74787f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #aeb4bf), color-stop(100%, #74787f));
  background: -webkit-linear-gradient(top, #aeb4bf 0%, #74787f 100%);
  background-image: -o-linear-gradient(top, #aeb4bf 0%, #74787f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#aeb4bf,endColorstr=#74787f);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#aeb4bf, endColorstr=#74787f)";
}
.ajax_spinner_sml {
  background: URL "../images/ajax-loader_sml.gif" no-repeat 50% 50%;
  height: 16px;
  line-height: 16px !important;
}
.ajax_spinner_lg {
  background: URL "../images/ajax-loader.gif" no-repeat 50% 50% !important;
  line-height: 32px !important;
}
.login_bkg {
  background: #2d4807;
  background: -moz-linear-gradient(top, #2d4807 0%, #3d610a 25%, #2d4807 50%, #4c790c 70%, #71b213 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2d4807), color-stop(50%, #2d4807), color-stop(70%, #4c790c), color-stop(100%, #71b213));
  background: -webkit-linear-gradient(top, #2d4807 0%, #3d610a 25%, #2d4807 50%, #4c790c 70%, #71b213 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#2d4807,endColorstr=#71b213);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#2d4807, endColorstr=#71b213)";
}
.primary_button_color {
  background: #ff9b01;
  background: -moz-linear-gradient(top, #ff9b01 0%, #ff6600 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff9b01), color-stop(100%, #ff6600));
  background: -webkit-linear-gradient(top, #ff9b01 0%, #ff6600 100%);
  background-image: -o-linear-gradient(top, #ff9b01 0%, #ff6600 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ff9b01,endColorstr=#ff6600);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ff9b01, endColorstr=#ff6600)";
}
.primary_button_active {
  background: #ff6600;
  background: -moz-linear-gradient(top, #ff6600 0%, #ff9b01 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff6600), color-stop(100%, #ff9b01));
  background: -webkit-linear-gradient(top, #ff6600 0%, #ff9b01 100%);
  background-image: -o-linear-gradient(top, #ff6600 0%, #ff9b01 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ff6600,endColorstr=#ff9b01);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ff6600, endColorstr=#ff9b01)";
}
.primary_button_disabled {
  background: #e5edfd;
  background: -moz-linear-gradient(top, #e5edfd 0%, #aeb4bf 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5edfd), color-stop(100%, #aeb4bf));
  background: -webkit-linear-gradient(top, #e5edfd 0%, #aeb4bf 100%);
  background-image: -o-linear-gradient(top, #e5edfd 0%, #aeb4bf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e5edfd,endColorstr=#aeb4bf);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e5edfd, endColorstr=#aeb4bf)";
  color: #aeb4bf;
  cursor: text;
}
.secondary_button_color {
  background: #91969f;
  background: -moz-linear-gradient(top, #91969f 0%, #36383c 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #91969f), color-stop(100%, #36383c));
  background: -webkit-linear-gradient(top, #91969f 0%, #36383c 100%);
  background-image: -o-linear-gradient(top, #91969f 0%, #36383c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#91969f,endColorstr=#36383c);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#91969f, endColorstr=#36383c)";
}
.secondary_button_active {
  background: #36383c;
  background: -moz-linear-gradient(top, #36383c 0%, #91969f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #36383c), color-stop(100%, #91969f));
  background: -webkit-linear-gradient(top, #36383c 0%, #91969f 100%);
  background-image: -o-linear-gradient(top, #36383c 0%, #91969f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#36383c,endColorstr=#91969f);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#36383c, endColorstr=#91969f)";
}
.secondary_button_disabled {
  background: #e5edfd;
  background: -moz-linear-gradient(top, #e5edfd 0%, #aeb4bf 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5edfd), color-stop(100%, #aeb4bf));
  background: -webkit-linear-gradient(top, #e5edfd 0%, #aeb4bf 100%);
  background-image: -o-linear-gradient(top, #e5edfd 0%, #aeb4bf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e5edfd,endColorstr=#aeb4bf);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e5edfd, endColorstr=#aeb4bf)";
}
.primary_button {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.5em;
  font-weight: 400;
  color: #ffffff;
  padding: 0px 20px;
  height: 35px;
  display: inline-block;
  line-height: 1em;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background: #ff9b01;
  background: -moz-linear-gradient(top, #ff9b01 0%, #ff6600 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff9b01), color-stop(100%, #ff6600));
  background: -webkit-linear-gradient(top, #ff9b01 0%, #ff6600 100%);
  background-image: -o-linear-gradient(top, #ff9b01 0%, #ff6600 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ff9b01,endColorstr=#ff6600);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ff9b01, endColorstr=#ff6600)";
  -moz-box-shadow: transparentize(#1c1d1f, 0.4) 0px 2px 2px;
  -webkit-box-shadow: transparentize(#1c1d1f, 0.4) 0px 2px 2px;
  box-shadow: transparentize(#1c1d1f, 0.4) 0px 2px 2px;
  text-decoration: none;
  margin: 4px 10px 0 0;
  width: auto;
  outline: none;
}
.primary_button:hover {
  background: #e85c00;
}
.primary_button:active {
  background: #ff6600;
  background: -moz-linear-gradient(top, #ff6600 0%, #ff9b01 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff6600), color-stop(100%, #ff9b01));
  background: -webkit-linear-gradient(top, #ff6600 0%, #ff9b01 100%);
  background-image: -o-linear-gradient(top, #ff6600 0%, #ff9b01 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ff6600,endColorstr=#ff9b01);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ff6600, endColorstr=#ff9b01)";
}
.primary_button[disabled] {
  background: #e5edfd;
  background: -moz-linear-gradient(top, #e5edfd 0%, #aeb4bf 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5edfd), color-stop(100%, #aeb4bf));
  background: -webkit-linear-gradient(top, #e5edfd 0%, #aeb4bf 100%);
  background-image: -o-linear-gradient(top, #e5edfd 0%, #aeb4bf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e5edfd,endColorstr=#aeb4bf);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e5edfd, endColorstr=#aeb4bf)";
  color: #aeb4bf;
  cursor: text;
}
.secondary_button {
  background: #91969f;
  background: -moz-linear-gradient(top, #91969f 0%, #36383c 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #91969f), color-stop(100%, #36383c));
  background: -webkit-linear-gradient(top, #91969f 0%, #36383c 100%);
  background-image: -o-linear-gradient(top, #91969f 0%, #36383c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#91969f,endColorstr=#36383c);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#91969f, endColorstr=#36383c)";
}
.secondary_button:hover {
  background: #55585d;
}
.secondary_button:active {
  background: #36383c;
  background: -moz-linear-gradient(top, #36383c 0%, #91969f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #36383c), color-stop(100%, #91969f));
  background: -webkit-linear-gradient(top, #36383c 0%, #91969f 100%);
  background-image: -o-linear-gradient(top, #36383c 0%, #91969f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#36383c,endColorstr=#91969f);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#36383c, endColorstr=#91969f)";
}
.secondary_button[disabled] {
  background: #e5edfd;
  background: -moz-linear-gradient(top, #e5edfd 0%, #aeb4bf 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5edfd), color-stop(100%, #aeb4bf));
  background: -webkit-linear-gradient(top, #e5edfd 0%, #aeb4bf 100%);
  background-image: -o-linear-gradient(top, #e5edfd 0%, #aeb4bf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e5edfd,endColorstr=#aeb4bf);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e5edfd, endColorstr=#aeb4bf)";
}
.small_button {
  font-size: 1em;
  font-weight: inherit;
  line-height: 1.5em;
  padding: 0 12px;
  line-height: 1em;
  height: 2.5em;
}
.anti_button button, .anti_button input[type=submit], .anti_button a.button {
  font-size: inherit;
  font-weight: normal;
  color: #1c1d1f;
  padding: 0;
  height: auto;
  display: inline-block;
  line-height: 1em;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #fff;
  -moz-box-shadow: #ffffff 0px 0px 0px;
  -webkit-box-shadow: #ffffff 0px 0px 0px;
  box-shadow: #ffffff 0px 0px 0px;
  text-decoration: none;
  margin: 0;
  width: auto;
  outline: none;
}
.anti_button button:hover, .anti_button input[type=submit]:hover, .anti_button a.button:hover {
  background: #fff;
}
.anti_button button:active, .anti_button input[type=submit]:active, .anti_button a.button:active {
  background: #fff;
}
.anti_button button[disabled], .anti_button input[type=submit][disabled], .anti_button a.button[disabled] {
  background: #fff;
}
.field_input_spacing {
  margin-bottom: 16px !important;
  font-size: 0.916666em;
  font-weight: inherit;
  line-height: inherit;
}
.field_input_spacing + .instructional + .alert {
  margin-top: -8px;
}
.dl_selectors {
  float: left;
  width: 100%;
  margin-bottom: 14px;
}
.dl_selectors dt, .dl_selectors dd {
  float: left;
  height: 20px;
}
.dl_selectors dt {
  padding-right: 4px;
}
.dl_selectors dd {
  margin-right: 10px;
  padding-right: 10px;
}
.dl_selectors label {
  line-height: 1.5em;
  font-weight: normal;
  font-size: 1em;
  margin: 0px;
}
.field_focus:focus {
  background-color: #fbf0d5;
}
.large_form input {
  padding: 9px 0 9px 6px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 33px;
  line-height: 33px;
}
.large_form input:focus {
  background-color: #fbf0d5;
}
.large_form label {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.5em;
  line-height: 1em;
}
.warning_box {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin-bottom: 16px;
  padding: 6px 10px 10px;
}
.warning_icon_placement {
  width: 16px;
  height: 17px;
  display: inline-block;
  overflow: hidden;
  margin-right: 8px;
  position: relative;
  top: 4px;
}
.warning_placement_before {
  content: URL "../images/alert_icons_sprite.png";
  left: 0px ;
  position: relative;
}
.grid_placement {
  display: inline;
  float: left;
  margin: 0 10px;
}
.grid_1 {
  width: 60px;
  display: inline;
  float: left;
  margin: 0 10px;
}
.grid_2 {
  width: 140px;
  display: inline;
  float: left;
  margin: 0 10px;
}
.grid_3 {
  width: 220px;
  display: inline;
  float: left;
  margin: 0 10px;
}
.grid_4 {
  width: 300px;
  display: inline;
  float: left;
  margin: 0 10px;
}
.grid_5 {
  width: 380px;
  display: inline;
  float: left;
  margin: 0 10px;
}
.grid_6 {
  width: 460px;
  display: inline;
  float: left;
  margin: 0 10px;
}
.grid_7 {
  width: 540px;
  display: inline;
  float: left;
  margin: 0 10px;
}
.grid_8 {
  width: 620px;
  display: inline;
  float: left;
  margin: 0 10px;
}
html, body {
  height: 100%;
}
a {
  color: #71b213;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.spinner_sml {
  background: URL "../images/ajax-loader_sml.gif" no-repeat 50% 50%;
  height: 16px;
  line-height: 16px !important;
}
.spinner_lg {
  background: URL "../images/ajax-loader.gif" no-repeat 50% 50% !important;
  line-height: 32px !important;
}
#header {
  position: fixed;
  width: 100%;
}
.active_edit {
  background-color: #777779;
}
.title_bar {
  padding: 0 0 0 10px;
  background: #55585d;
  background: -moz-linear-gradient(top, #55585d 0%, #1c1d1f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #55585d), color-stop(100%, #1c1d1f));
  background: -webkit-linear-gradient(top, #55585d 0%, #1c1d1f 100%);
  background-image: -o-linear-gradient(top, #55585d 0%, #1c1d1f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#55585d,endColorstr=#1c1d1f);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#55585d, endColorstr=#1c1d1f)";
  color: #ffffff;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: start;
  -webkit-box-align: end;
  -moz-box-orient: horizontal;
  -moz-box-pack: start;
  -moz-box-align: end;
  box-orient: horizontal;
  box-pack: start;
  box-align: end;
  height: 60px;
  width: 100%;
}
.title_bar a,
.title_bar h1,
.title_bar h2,
.title_bar h3,
.title_bar h4,
.title_bar h5 {
  color: #ffffff;
}
.title_bar a:hover {
  color: #71b213;
}
.title_bar h1,
.title_bar h2,
.title_bar h3,
.title_bar h4,
.title_bar h5 {
  font-family: 'Droid Sans', arial, serif;
}
.title_bar h1 {
  margin-bottom: 0px;
}
.title_bar .navigation {
  margin-left: 60px;
}
.title_bar .utility {
  text-align: right;
  margin-right: 10px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
}
.action_buttons_container {
  background-color: #ffffff;
  width: 90%;
  margin: 0 auto;
  -moz-box-shadow: transparentize(#1c1d1f, 0.4) 0px 0px 10px;
  -webkit-box-shadow: transparentize(#1c1d1f, 0.4) 0px 0px 10px;
  box-shadow: transparentize(#1c1d1f, 0.4) 0px 0px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
  padding: 10px;
}
.action_buttons_container .action_buttons {
  display: inline-block;
  width: 100%;
  margin: 0;
}
.action_buttons_container li {
  float: left;
  width: auto;
}
.action_buttons_container li + li {
  float: right;
  width: auto;
}
#application #content {
  width: 100%;
  padding-top: 120px;
}
#application #content textarea#editor {
  border: 1px solid #ccc;
  border-right: 0;
  float: left;
  height: 350px;
  margin: 60px 0 0 6px;
  width: 40%;
}
.tabbed_ui {
  margin: 0;
}
.tabbed_ui li {
  font-weight: 600;
  font-size: 1.25em;
  font-weight: inherit;
  line-height: 1.5em;
  color: #71b213;
  padding: 10px 20px;
  line-height: 1em;
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  display: inline-block;
  margin: 0px;
  background: #91969f;
  background: -moz-linear-gradient(top, #91969f 0%, #36383c 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #91969f), color-stop(100%, #36383c));
  background: -webkit-linear-gradient(top, #91969f 0%, #36383c 100%);
  background-image: -o-linear-gradient(top, #91969f 0%, #36383c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#91969f,endColorstr=#36383c);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#91969f, endColorstr=#36383c)";
  margin-right: 3px;
}
.tabbed_ui li:hover {
  color: #71b213;
  background: #e5edfd;
  background: -moz-linear-gradient(top, #e5edfd 0%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5edfd), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, #e5edfd 0%, #ffffff 100%);
  background-image: -o-linear-gradient(top, #e5edfd 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e5edfd,endColorstr=#ffffff);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e5edfd, endColorstr=#ffffff)";
}
.tabbed_ui li:active {
  color: #3d610a;
}
.tabbed_ui li a {
  display: inline-block;
  margin: -10px -20px;
  padding: 10px 15px;
  color: #ffffff;
}
.tabbed_ui li a:hover {
  color: #71b213;
}
.tabbed_ui .selected_tab {
  background: #ffffff;
}
.tabbed_ui .selected_tab:hover {
  background: #ffffff;
}
.tabbed_ui .selected_tab a {
  color: #71b213 !important;
}
.tabbed_ui .selected_tab a:hover {
  text-decoration: none;
  cursor: text;
}
.small_tab li {
  font-size: 1em;
  font-weight: inherit;
  line-height: 1.5em;
  background: #aeb4bf;
  background: -moz-linear-gradient(top, #aeb4bf 0%, #74787f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #aeb4bf), color-stop(100%, #74787f));
  background: -webkit-linear-gradient(top, #aeb4bf 0%, #74787f 100%);
  background-image: -o-linear-gradient(top, #aeb4bf 0%, #74787f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#aeb4bf,endColorstr=#74787f);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#aeb4bf, endColorstr=#74787f)";
  line-height: 1em;
  padding: 8px 12px;
  border: 1px solid #cad1dd;
  border-bottom: 0px;
  margin-right: 5px;
}
.small_tab li:hover {
  margin-bottom: -1px;
  padding-bottom: 9px;
  background: #ffffff;
}
.small_tab li:hover a {
  color: #1c1d1f;
}
.small_tab li:first-child {
  margin-left: 10px;
}
.small_tab .selected_tab {
  padding-bottom: 9px;
  margin-bottom: -1px;
}
.small_tab .selected_tab a {
  color: #1c1d1f;
}
.small_tab .selected_tab a:hover {
  color: #1c1d1f;
}
#views-container #preview-container {
  margin-bottom: 10px;
}
#views-container #preview-container #preview {
  border: 0;
  overflow: hidden;
  width: 100%;
  min-height: 400px;
}
#sites-container {
  width: 100%;
}
#sites-container #preview-container #preview {
  border: 0;
  min-height: 400px;
  width: 100%;
  overflow: hidden;
}
body {
  font: 12px/1.5em Arial, Verdana, sans-serif;
  color: #1c1d1f;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5 {
  font: 36px/1.5em 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif;
  color: #1c1d1f;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 28px;
  color: #4c790c;
}
h4 {
  font-size: 21px;
}
h5 {
  font-size: 18px;
  color: #74787f;
}
h1 {
  margin-bottom: 7px;
}
h2, h3 {
  margin-bottom: 9px;
}
h4 {
  margin-bottom: 11px;
}
h5 {
  margin-bottom: 12px;
}
p {
  margin-bottom: 1em;
}
ol, ul {
  margin-bottom: 1em;
}
textarea {
  font-family: Courier;
}
.instructional {
  color: #74787f;
  margin-top: -8px;
  margin-bottom: 16px;
  font-size: 0.8333em;
  font-weight: inherit;
  line-height: inherit;
  line-height: 1em;
}
.alert {
  color: #e12829;
  font-size: 0.916666em;
  font-weight: inherit;
  line-height: inherit;
  line-height: 1em;
  margin-bottom: 16px;
  margin-top: -8px;
}
#header h1,
#header h2,
#header h3,
#header h4,
#header h5 {
  font-family: 'Fontdiner Swanky', arial, serif;
  font-weight: bold;
}
.alpha_color_gradient h1,
.alpha_color_gradient h2,
.alpha_color_gradient h3,
.alpha_color_gradient h4,
.alpha_color_gradient h5 {
  font-family: 'Droid Sans', arial, serif;
}
.ui-dialog .ui-dialog-title {
  font-size: 21px;
}
button, input[type=submit], a.button {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.5em;
  font-weight: 400;
  color: #ffffff;
  padding: 0px 20px;
  height: 35px;
  display: inline-block;
  line-height: 1em;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background: #ff9b01;
  background: -moz-linear-gradient(top, #ff9b01 0%, #ff6600 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff9b01), color-stop(100%, #ff6600));
  background: -webkit-linear-gradient(top, #ff9b01 0%, #ff6600 100%);
  background-image: -o-linear-gradient(top, #ff9b01 0%, #ff6600 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ff9b01,endColorstr=#ff6600);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ff9b01, endColorstr=#ff6600)";
  -moz-box-shadow: transparentize(#1c1d1f, 0.4) 0px 2px 2px;
  -webkit-box-shadow: transparentize(#1c1d1f, 0.4) 0px 2px 2px;
  box-shadow: transparentize(#1c1d1f, 0.4) 0px 2px 2px;
  text-decoration: none;
  margin: 4px 10px 0 0;
  width: auto;
  outline: none;
}
button:hover, input[type=submit]:hover, a.button:hover {
  background: #e85c00;
}
button:active, input[type=submit]:active, a.button:active {
  background: #ff6600;
  background: -moz-linear-gradient(top, #ff6600 0%, #ff9b01 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff6600), color-stop(100%, #ff9b01));
  background: -webkit-linear-gradient(top, #ff6600 0%, #ff9b01 100%);
  background-image: -o-linear-gradient(top, #ff6600 0%, #ff9b01 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ff6600,endColorstr=#ff9b01);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ff6600, endColorstr=#ff9b01)";
}
button[disabled], input[type=submit][disabled], a.button[disabled] {
  background: #e5edfd;
  background: -moz-linear-gradient(top, #e5edfd 0%, #aeb4bf 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5edfd), color-stop(100%, #aeb4bf));
  background: -webkit-linear-gradient(top, #e5edfd 0%, #aeb4bf 100%);
  background-image: -o-linear-gradient(top, #e5edfd 0%, #aeb4bf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e5edfd,endColorstr=#aeb4bf);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e5edfd, endColorstr=#aeb4bf)";
  color: #aeb4bf;
  cursor: text;
}
.primary_buttons button, .primary_buttons input[type=submit], .primary_buttons a.button {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.5em;
  font-weight: 400;
  color: #ffffff;
  padding: 0px 20px;
  height: 35px;
  display: inline-block;
  line-height: 1em;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background: #ff9b01;
  background: -moz-linear-gradient(top, #ff9b01 0%, #ff6600 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff9b01), color-stop(100%, #ff6600));
  background: -webkit-linear-gradient(top, #ff9b01 0%, #ff6600 100%);
  background-image: -o-linear-gradient(top, #ff9b01 0%, #ff6600 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ff9b01,endColorstr=#ff6600);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ff9b01, endColorstr=#ff6600)";
  -moz-box-shadow: transparentize(#1c1d1f, 0.4) 0px 2px 2px;
  -webkit-box-shadow: transparentize(#1c1d1f, 0.4) 0px 2px 2px;
  box-shadow: transparentize(#1c1d1f, 0.4) 0px 2px 2px;
  text-decoration: none;
  margin: 4px 10px 0 0;
  width: auto;
  outline: none;
}
.primary_buttons button:hover, .primary_buttons input[type=submit]:hover, .primary_buttons a.button:hover {
  background: #e85c00;
}
.primary_buttons button:active, .primary_buttons input[type=submit]:active, .primary_buttons a.button:active {
  background: #ff6600;
  background: -moz-linear-gradient(top, #ff6600 0%, #ff9b01 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff6600), color-stop(100%, #ff9b01));
  background: -webkit-linear-gradient(top, #ff6600 0%, #ff9b01 100%);
  background-image: -o-linear-gradient(top, #ff6600 0%, #ff9b01 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ff6600,endColorstr=#ff9b01);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ff6600, endColorstr=#ff9b01)";
}
.primary_buttons button[disabled], .primary_buttons input[type=submit][disabled], .primary_buttons a.button[disabled] {
  background: #e5edfd;
  background: -moz-linear-gradient(top, #e5edfd 0%, #aeb4bf 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5edfd), color-stop(100%, #aeb4bf));
  background: -webkit-linear-gradient(top, #e5edfd 0%, #aeb4bf 100%);
  background-image: -o-linear-gradient(top, #e5edfd 0%, #aeb4bf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e5edfd,endColorstr=#aeb4bf);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e5edfd, endColorstr=#aeb4bf)";
  color: #aeb4bf;
  cursor: text;
}
.secondary_buttons button, .secondary_buttons input[type=submit], .secondary_buttons a.button {
  background: #91969f;
  background: -moz-linear-gradient(top, #91969f 0%, #36383c 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #91969f), color-stop(100%, #36383c));
  background: -webkit-linear-gradient(top, #91969f 0%, #36383c 100%);
  background-image: -o-linear-gradient(top, #91969f 0%, #36383c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#91969f,endColorstr=#36383c);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#91969f, endColorstr=#36383c)";
}
.secondary_buttons button:hover, .secondary_buttons input[type=submit]:hover, .secondary_buttons a.button:hover {
  background: #55585d;
}
.secondary_buttons button:active, .secondary_buttons input[type=submit]:active, .secondary_buttons a.button:active {
  background: #36383c;
  background: -moz-linear-gradient(top, #36383c 0%, #91969f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #36383c), color-stop(100%, #91969f));
  background: -webkit-linear-gradient(top, #36383c 0%, #91969f 100%);
  background-image: -o-linear-gradient(top, #36383c 0%, #91969f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#36383c,endColorstr=#91969f);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#36383c, endColorstr=#91969f)";
}
.secondary_buttons button[disabled], .secondary_buttons input[type=submit][disabled], .secondary_buttons a.button[disabled] {
  background: #e5edfd;
  background: -moz-linear-gradient(top, #e5edfd 0%, #aeb4bf 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5edfd), color-stop(100%, #aeb4bf));
  background: -webkit-linear-gradient(top, #e5edfd 0%, #aeb4bf 100%);
  background-image: -o-linear-gradient(top, #e5edfd 0%, #aeb4bf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e5edfd,endColorstr=#aeb4bf);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e5edfd, endColorstr=#aeb4bf)";
}
.small_buttons button, .small_buttons input[type=submit], .small_buttons a.button {
  font-size: 1em;
  font-weight: inherit;
  line-height: 1.5em;
  padding: 0 12px;
  line-height: 1em;
  height: 2.5em;
}
.small_buttons a.button {
  line-height: 2.5em;
}
button:nth-child(n.2), input[type=submit]:nth-child(n.2), a.button:nth-child(n.2) {
  background: #91969f;
  background: -moz-linear-gradient(top, #91969f 0%, #36383c 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #91969f), color-stop(100%, #36383c));
  background: -webkit-linear-gradient(top, #91969f 0%, #36383c 100%);
  background-image: -o-linear-gradient(top, #91969f 0%, #36383c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#91969f,endColorstr=#36383c);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#91969f, endColorstr=#36383c)";
}
button:nth-child(n.2):hover, input[type=submit]:nth-child(n.2):hover, a.button:nth-child(n.2):hover {
  background: #55585d;
}
button:nth-child(n.2):active, input[type=submit]:nth-child(n.2):active, a.button:nth-child(n.2):active {
  background: #36383c;
  background: -moz-linear-gradient(top, #36383c 0%, #91969f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #36383c), color-stop(100%, #91969f));
  background: -webkit-linear-gradient(top, #36383c 0%, #91969f 100%);
  background-image: -o-linear-gradient(top, #36383c 0%, #91969f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#36383c,endColorstr=#91969f);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#36383c, endColorstr=#91969f)";
}
button:nth-child(n.2)[disabled], input[type=submit]:nth-child(n.2)[disabled], a.button:nth-child(n.2)[disabled] {
  background: #e5edfd;
  background: -moz-linear-gradient(top, #e5edfd 0%, #aeb4bf 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5edfd), color-stop(100%, #aeb4bf));
  background: -webkit-linear-gradient(top, #e5edfd 0%, #aeb4bf 100%);
  background-image: -o-linear-gradient(top, #e5edfd 0%, #aeb4bf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e5edfd,endColorstr=#aeb4bf);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e5edfd, endColorstr=#aeb4bf)";
}
a.button {
  font-weight: bold;
  letter-spacing: -0.06em;
  line-height: 2em;
}
.styleguide #header {
  visibility: hidden;
  display: none;
}
.styleguide article {
  float: left;
  width: 100%;
}
.styleguide pre {
  background: #313131;
  padding: 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: orange;
  font-size: 1.25em;
  font-weight: inherit;
  line-height: 1.5em;
  margin-bottom: 20px;
}
.styleguide pre span {
  color: white;
}
.styleguide .button_styleguide div {
  padding-bottom: 10px;
}
.styleguide .form_styleguide pre {
  width: 590px;
  overflow: auto;
  margin-left: 0px;
}
.styleguide .form_styleguide .master_container {
  float: left;
  width: 100%;
}
.styleguide .form_styleguide .right_content {
  float: left;
  margin: 0 20px;
  width: 550px;
}
.styleguide .styleguide_header {
  width: 100%;
}
.styleguide .styleguide_header h1 {
  color: #fff;
  padding: 10px 20px;
  background: #b8e1fc;
  background: -moz-linear-gradient(top, #b8e1fc 0%, #a9d2f3 10%, #90bae4 25%, #90bcea 37%, #90bff0 50%, #6ba8e5 51%, #a2daf5 83%, #bdf3fd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b8e1fc), color-stop(10%, #a9d2f3), color-stop(25%, #90bae4), color-stop(37%, #90bcea), color-stop(50%, #90bff0), color-stop(51%, #6ba8e5), color-stop(83%, #a2daf5), color-stop(100%, #bdf3fd));
  background: -webkit-linear-gradient(top, #b8e1fc 0%, #a9d2f3 10%, #90bae4 25%, #90bcea 37%, #90bff0 50%, #6ba8e5 51%, #a2daf5 83%, #bdf3fd 100%);
  background-image: -o-linear-gradient(top, #b8e1fc 0%, #a9d2f3 10%, #90bae4 25%, #90bcea 37%, #90bff0 50%, #6ba8e5 51%, #a2daf5 83%, #bdf3fd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#b8e1fc,endColorstr=#bdf3fd);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#b8e1fc, endColorstr=#bdf3fd)";
  border-bottom: 1px solid #1c1d1f;
  -moz-box-shadow: transparentize(#1c1d1f, 0.4) 0px 0px 40px;
  -webkit-box-shadow: transparentize(#1c1d1f, 0.4) 0px 0px 40px;
  box-shadow: transparentize(#1c1d1f, 0.4) 0px 0px 40px;
}
.styleguide .styleguide_body {
  float: none;
  width: 960px;
  margin: 0 auto;
  zoom: 1;
}
.styleguide .styleguide_body:before {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.styleguide .styleguide_body:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.styleguide .styleguide_body header {
  color: #999;
  border: 1px solid #999;
  border-width: 0 0 1px 0;
  margin: 30px 0 10px 0;
  zoom: 1;
}
.styleguide .styleguide_body header:before {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.styleguide .styleguide_body header:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.styleguide .styleguide_body .h1s h1,
.styleguide .styleguide_body .h1s h2,
.styleguide .styleguide_body .h1s h3,
.styleguide .styleguide_body .h1s h4,
.styleguide .styleguide_body .h1s h5 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  float: left;
  width: 980px;
}
.styleguide .styleguide_body .body_text span {
  color: red;
  display: block;
}
.styleguide .styleguide_body .link_text {
  float: left;
  width: 100%;
  -webkit-column-count: 3;
  -webkit-column-gap: 1em;
  -moz-column-count: 3;
  -moz-column-gap: 1em;
}
.styleguide .styleguide_footer {
  width: 100%;
  float: left;
  text-align: center;
  padding: 30px 0 30px 0;
}
.styleguide .colorcode div, .styleguide .gradient div {
  width: 70%;
  margin-bottom: 2em;
  min-height: 60px;
}
.styleguide .colorcode div p, .styleguide .gradient div p {
  position: relative;
  left: 105%;
  width: 35%;
}
.styleguide .colorcode .tabbed_ui p, .styleguide .gradient .tabbed_ui p {
  top: 0px;
  padding: 0px;
}
.styleguide .colorcode + div p, .styleguide .gradient + div p {
  color: red;
}
.styleguide .styleguide_form_frame {
  border: 1px dashed #aeb4bf;
  float: left;
  width: 335px;
  padding: 16px 16px 0;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin-bottom: 10px;
}
.styleguide .flex_blocks .india_grey {
  border: 1px dashed transparentize(#1c1d1f, 0.7);
}
.styleguide .flex_blocks .india_grey p {
  top: 70px;
}
.styleguide .gradient .alpha_color_gradient p {
  color: #1c1d1f;
}
.styleguide .login_body {
  margin: 0 0 30px 0;
  padding: 0;
}
.styleguide .styleguide_nav {
  position: fixed;
  z-index: 1000;
  border: 1px solid #ccc;
  left: -157px;
  top: 100px;
  width: 120px;
  padding: 10px 20px 10px 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: #cccccc 0px 0px 20px;
  -webkit-box-shadow: #cccccc 0px 0px 20px;
  box-shadow: #cccccc 0px 0px 20px;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  background-color: #fff;
}
.styleguide .styleguide_nav .nav_title {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  top: 0px;
  left: 35px;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.5em;
  padding: 60px 100px 100px 100px;
  letter-spacing: 4px;
}
.styleguide .styleguide_nav p {
  margin: 0.5em 0 0 0;
  text-align: center;
  width: 100%;
  background: #feccb1;
  background: -moz-linear-gradient(top, #feccb1 0%, #f17432 50%, #ea5507 50%, #fb955e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #feccb1), color-stop(50%, #f17432), color-stop(51%, #ea5507), color-stop(100%, #fb955e));
  background: -webkit-linear-gradient(top, #feccb1 0%, #f17432 50%, #ea5507 50%, #fb955e 100%);
  background-image: -o-linear-gradient(top left, #feccb1 0%, #f17432 50%, #ea5507 50%, #fb955e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#feccb1,endColorstr=#fb955e);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#feccb1, endColorstr=#fb955e)";
  padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  color: #fff;
  font-weight: bold;
  width: 100%;
}
.styleguide .styleguide_nav p a {
  color: #fff;
  display: inline-block;
  width: 100%;
  margin: -5px;
  padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.styleguide .styleguide_nav p a:hover {
  text-decoration: none;
  background: #feccb1;
  background: -moz-linear-gradient(top, #feccb1 0%, #f17432 50%, #ea5507 50%, #fb955e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #feccb1), color-stop(50%, #f17432), color-stop(51%, #ea5507), color-stop(100%, #fb955e));
  background: -webkit-linear-gradient(top, #feccb1 0%, #f17432 50%, #ea5507 50%, #fb955e 100%);
  background-image: -o-linear-gradient(top left, #feccb1 0%, #f17432 50%, #ea5507 50%, #fb955e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#feccb1,endColorstr=#fb955e);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#feccb1, endColorstr=#fb955e)";
  background: #9dd53a;
  background: -moz-linear-gradient(top, #9dd53a 0%, #a1d54f 50%, #80c217 50%, #7cbc0a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9dd53a), color-stop(50%, #a1d54f), color-stop(51%, #80c217), color-stop(100%, #7cbc0a));
  background: -webkit-linear-gradient(top, #9dd53a 0%, #a1d54f 50%, #80c217 50%, #7cbc0a 100%);
  background-image: -o-linear-gradient(top left, #9dd53a 0%, #a1d54f 50%, #80c217 50%, #7cbc0a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#9dd53a,endColorstr=#7cbc0a);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#9dd53a, endColorstr=#7cbc0a)";
}
.styleguide .styleguide_nav p:hover {
  text-decoration: none;
}
.styleguide .styleguide_nav p:first-child {
  margin-top: 0;
}
.styleguide .styleguide_nav:hover {
  left: 30px;
  color: rgba(0, 0, 0, 0);
}
.styleguide #standard_modal_alt {
  width: 600px !important;
}
.styleguide .foo_form input {
  padding: 9px 0 9px 6px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 33px;
  line-height: 33px;
}
.styleguide .foo_form input:focus {
  background-color: #fbf0d5;
}
.styleguide .foo_form label {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.5em;
  line-height: 1em;
}
.styleguide .primary_text {
  background-color: #1c1d1f;
}
.styleguide .href_color {
  background-color: #71b213;
}
.styleguide .instructional_text {
  background-color: #74787f;
}
.styleguide .error_text {
  background-color: #e12829;
}
.styleguide .button_text {
  background-color: #ffffff;
}
.styleguide .shadow_color {
  background-color: transparentize(#1c1d1f, 0.4);
}
.styleguide .primary_button_hover {
  background-color: #e85c00;
}
.styleguide .secondary_button_hover {
  background-color: #55585d;
}
.styleguide .field_focus_color {
  background-color: #fbf0d5;
}
.styleguide .form_field_border {
  background-color: #74787f;
}
.styleguide .form_field_border_fail {
  background-color: #e12829;
}
.styleguide .form_field_fail_bkg {
  background-color: #ffdddd;
}
.styleguide .input_disabled_bkg {
  background-color: #e5edfd;
}
.styleguide .input_disabled_border {
  background-color: #cad1dd;
}
.styleguide .input_disabled_text {
  background-color: #aeb4bf;
}
.styleguide .grid_960 {
  background: url(/images/12_col.gif) repeat-y;
  width: 960px;
  zoom: 1;
  text-align: center;
  margin: 10px 0
		float: left;
  font-size: 1.25em;
  font-weight: inherit;
  line-height: 1.5em;
  font-weight: bold;
}
.styleguide .grid_960:before {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.styleguide .grid_960:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.styleguide .grid_960 ul {
  zoom: 1;
  margin: 1em 0;
}
.styleguide .grid_960 ul:before {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.styleguide .grid_960 ul:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.styleguide .grid_960 ul li {
  background: transparentize(#ffffff, 0.5);
  -moz-box-shadow: inset 0 0 10px #1c1d1f;
  -webkit-box-shadow: inset 0 0 10px #1c1d1f;
  box-shadow: inset 0 0 10px #1c1d1f;
  padding: 5px 0;
}
