// Intent of this document is to contain all the mixin awesome that can be fed up to the /less/forms.less file

// UI elements included in this document
// ----------------------------------------------
// 1) Semantic button styles
// 2) Buttons design - primary, secondary, and small
// 3) OOCSS form settings
// 4) Alert icon Mixins


/////// Semantic button styles ///////////
.primary_button_color {
	.echo_color_gradient;
}

.primary_button_active {
	.india_color_gradient;
}

.primary_button_disabled {
	.juliet_color_gradient;
	color: @input_disabled_text;
	cursor: text;
}
	
.secondary_button_color {
	.golf_color_gradient;
}
	
.secondary_button_active {
	.kilo_color_gradient;
}
	
.secondary_button_disabled {
	.juliet_color_gradient;
}
/////// Semantic button styles ///////////



/////// Buttons design - primary, secondary, and small ////////
.primary_button {
	.extra_large;
	font-weight: 400;
	color: @button_text;
	padding: 0px 20px;
	height: 35px;
	display: inline-block;
	line-height: 1em;
	.border_radius(15px);
	.primary_button_color;
	.box_shadow(@shadow_color, 0px 2px 2px);
	text-decoration: none;
	margin: 4px 10px 0 0;
	width: auto;
	outline: none;
	
	&:hover {
		background: @primary_button_hover;
	}
		
	&:active {
		.primary_button_active;
	}
		
	&[disabled] {
		.primary_button_disabled;
	}
}
		
.secondary_button {
	.secondary_button_color;
	&:hover {
		background: @secondary_button_hover;
	}
	&:active {
		.secondary_button_active;
	}
	&[disabled] {
		.secondary_button_disabled;
	}
}

.cancel_link {
	background: none;
	border: 1px solid @alpha_grey;
	border-width: 0 0 0 1px;
	color: @href_color;
	height: auto;
	width: auto;
	.border_radius(0px);
	.box_shadow(0 0 0, @white);	
	.medium;
	
	&:hover, &:active {
		text-decoration: underline;
	}
	
	&[disabled] {
		text-decoration: none;
		color: @input_disabled_text;
		background: none;
	}
}


.small_button {
	.medium;
	padding: 0 12px;
	line-height: 1em;
	height: 2.5em;
}
	
.anti_button {
	button, input[type=submit], a.button {
 		font-size: inherit;
 		font-weight: normal;
 		color: @alpha_grey;
		padding: 0;
 		height: auto;
 		display: inline-block;
 		line-height: 1em;
 		.border_radius(0px);
 		background: #fff;
 		.box_shadow(#fff, 0px 0px 0px);
 		text-decoration: none;
 		margin: 0;
 		width: auto;
 		outline: none;
 		
		&:hover {
			background: #fff;
		}
			
		&:active {
			background: #fff;
		}
			
		&[disabled] {
			background: #fff;
		}
	}
}
		
	
/////// Buttons design - primary, secondary, and small ////////



//////// OOCSS form settings //////////
.field_input_spacing {
	margin-bottom: 16px !important;
	.small;
	+ .instructional + .alert {
		margin-top: -8px;
	}
}
		
.dl_selectors {
	float: left;
	width: 100%;
	margin-bottom: 14px;
	dt, dd {
		float: left;
		height: 20px;
	}
	dt {
		padding-right: 4px;
	}
	dd {
		margin-right: 10px;
		padding-right: 10px;
	}
	label {
		line-height: 1.5em;
		font-weight: normal;
		font-size: 1em;
		margin: 0px;
	}
}
		
.field_focus {
	&:hover {
		border-color: @form_field_focus_border_color;
		.box_shadow(0 5px 15px -10px, @shadow_color);
	}
	&:focus {
		background-color: @form_field_focus_color;
		border-color: @form_field_focus_border_color;
		.box_shadow(0 5px 15px -10px, @shadow_color);
	}
}


.large_form {
	input {
		padding: 9px 0 9px 6px;
		.border_radius(5px);
		.field_focus;
		font-size: 33px;
		line-height: 33px;
	}
	label {
		.extra_large;
		line-height: 1em;
	}
}
//////// OOCSS form settings //////////



/////////// Alert icon Mixins //////////////
.warning_box {
	.border_radius(6px);
	margin-bottom: 16px;
	padding: 6px 10px 10px;
}
	
.warning_icon_placement {
	width: 16px;
	height: 17px;
	display: inline-block;
	overflow: hidden;
	margin-right: 8px;
	position: relative;
	top: 4px;
}
	
.warning_placement_before {
	content: url(/public/images/alert_icons_sprite.png);
	left: 0px ;
	position: relative;
}
////////////// Alert icon Mixins //////////////
