
// ...............
// 960 GRID SYSTEM
// ...............
// 
// Created by Nathan Smith. See the official site for more info: http://960.gs/
// 
// GPL license:
// http://www.gnu.org/licenses/gpl.html
// 
// MIT license:
// http://www.opensource.org/licenses/mit-license.php


///////// 12 col 960 grid system ///////////
.grid_placement {
	display: inline;
	float: left;
	margin: 0 1.05%;
}

.grid_1 {
	width: 6.25%;
	.grid_placement;
}

.grid_2 {
	width: 14.5833333333333%;
	.grid_placement;
}

.grid_3 {
	width: 22.9166666666667%;
	.grid_placement;
}

.grid_4 {
	width: 31.25%;
	.grid_placement;
}

.grid_5 {
	width: 39.5833333333333%;
	.grid_placement;
}

.grid_6 {
	width: 47.93%;
	.grid_placement;
}

.grid_7 {
	width: 56.25%;
	.grid_placement;
}

.grid_8 {
	width: 64.5833333333333%;
	.grid_placement;
}

.grid_9 {
	width: 72.9166666666667%;
	.grid_placement;
}

.grid_10 {
	width: 81.25%;
	.grid_placement;
}

.grid_11 {
	width: 89.5833333333333%;
	.grid_placement;
}

.grid_12 {
	width: 97.9166666666667%;
	.grid_placement;
}
///////// 12 col 960 grid system ///////////