// intent of the 'design' LESS is that all essential design elements for the application are placed here
// individual element styling will be addressed in element name spaced LESS files



html, body {
	background-color: spin(desaturate(@lima_color, 40%), 35) + @alpha_grey;
}

.site_container {
	width: 960px;
	margin: 0 auto;
}

.site_header {
	.google_font_alpha;
	margin: 10px 0 20px 0;
}

.site_navigation {
	.site_navigation_gradient;
	color: @white;
	font-weight: bold;
	.border_radius(0 0 5px 5px);
	.box_shadow(0 0 10px, @shadow_color);
	a {
		color: @white;
		display: block;
		&:hover {
			.golf_color_gradient;
			text-decoration: none;
		}
	}
	.ul_flexbox(100%);
	ul {
		height: 3.33333em;
		line-height: 3.33333em;
		margin: 0px;
	}
	li {
		border-right: 1px solid @alpha_grey;
	}
}

.page_content {
	background: @white;
	padding: 20px;
	.box_shadow(lighten(@shadow_color, 50), 0 0 10px 0px);
	.border_radius(5px);
	border: 1px solid @hotel_grey;
	img[title*=Icon] {
		.grid_12(4);
		float: right;
	}	
}

.body_navbar {
	.large;
	.ul_flexbox(80%, 50px);
	width: 980px;
	margin-left: -10px;
	background: @white;
	.border_radius(0 0 5px 5px);
	.box_shadow(lighten(@shadow_color, 50), 0 5px 10px 0px);
	.body_navbar_gradient;
	border-top: 2px solid @hotel_grey;
	margin-top: -5px;
	position: relative;
	z-index: 10;
	ul {
		margin: 0 auto;
	}
	a {
		display: block;
		border: 1px solid transparent;
		border-width: 0 1px;
		color: @charlie_grey;
		&:hover {
			.india_color_gradient;
			border-color: @hotel_grey;
			text-decoration: none;
		}
	}
}

.body_call_to_action {
	width: 100%;
	height: 120px;
	.three_stop_linear_gradient(@white, 0%, @white, 40%, @hotel_grey, 100%);
	border-width:0 1px 1px; 
	border-style:solid;
	border-color:transparent @hotel_grey @golf_grey @hotel_grey;
	margin-top: -10px;
	position: relative;
	z-index: 5;
	.box_shadow(lighten(@shadow_color, 50), 0 -5px 10px 0px);
	.ul_flexbox(100%, 120px);
	color: @echo_grey;
	.text_shadow(0 2px 0px, @white);
	h3 {
		line-height: 120px;
	}
}

.lower_content {
	margin-top: -5px;
	margin-bottom: 30px;
	padding: 2.0833333333333% 0;
	.clearfix;
	ul {
		list-style: disc;
		margin-left: 2.0833333333333%;
	}
}

.main_article {
	padding-left: 2.0833333333333%;
	padding-right: 2.0833333333333%;
}

.summary_quote {
	.large;
	.grid_12(7);
	float: left;
	.push_12(.25);
}


.content_footer  {
	.column_count(3, 1em);
	padding: 0 40px 10px;
	border-bottom: 1px solid @golf_grey;
	margin-bottom: 10px;
	li {
		&:first-child {
			font-weight: bold;
		}
	}
}

.site_footer {
	text-align: center;
	padding: 10px 0;
}

img[title=browser_support] {
	float: right;
	.prefix_12(.5);
	.suffix_12(.25);
}

code {
	border: 1px solid @alpha_grey;
	padding: 0.25em;
}


/////////////// fallbacks //////////////////
// ---------------------------------------
.no-flexbox {
	.site_navigation, .body_navbar, .body_call_to_action {
		li {
			float: left;
		}
	}
	.site_navigation {
		a {
			padding: 0 2.5em;
		}
	}
	.body_navbar {
		a {
			padding: 0 1em;
		}
	}
	.body_call_to_action {
		ul {
			width: 90%;
			margin: 0 auto;
		}
		li {
			padding: 0 1em;
			a {
				margin-left: 2em;
			}
		}
	}
}








