// intent of the 'text' LESS is that all essential text elements for the application are placed here
// individual element styling will be addressed in element name spaced LESS files

// * @imports for google fonts are not supported by .LESS ~ I know ... lame
// *-------------------------------------------------------------------------------



body {
	font: 12px/1.5 "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	color: @primary_text;
	-webkit-font-smoothing: antialiased;
}
	
h1, h2, h3, h4, h5 {
	font-family: 'Trebuchet MS', Arial, Verdana, sans-serif;
	line-height: 1.5em;
}

h1 {
	//font-size: 2em;  // user agent default
	.heading_1;
}

h2 {
	//font-size: 1.5em;  // user agent default
	.heading_2;
}
	
h3 {
	//font-size:  1.17em;  // user agent default
	.heading_3;
}

h4 {
	//font-size:  1em;  // user agent default
	.heading_4;
}
	
h5 {
	//font-size:  0.83em;  // user agent default
	.heading_5;
}

h6 {
	//font-size:  0.75em;  // user agent default
	.heading_6;
}
	
.google_font_alpha {
	h1, h2, h3, h4, h5 {
		font-family: 'Pacifico', arial, serif;
		line-height: 1.8em;
	}
}

p {
	margin-bottom: 1em;
}

.gecko {
	h1 {
		font-weight: normal;
	}
}


ol, ul {
	margin-bottom: 1em;
}

a {
	color: @href_color;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.instructional {
	color: @instructional_text;
	margin-top: -8px;
	margin-bottom: 16px;
	.small;
	line-height: 1em;
}

.alert {
	color: @error_text;
	.small;
	line-height: 1em;
	margin-bottom: 16px;
	margin-top: -8px;
}

input[type=text], input[type=password], select, textarea, a.ui-selectmenu {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	letter-spacing: 1px;
}

blockquote {
	font-family: 'Rock Salt', arial, serif;
	font-style: italic; 
	.large;
	text-align: center;
	letter-spacing: 1px;
	margin: 2em 0 1em 0;
	&:before, &:after {
		content: "\201C";
		.xx_large;
		font-weight: bold;
		color: @romeo_color;
		font-family: Georgia, "Times New Roman", Times, serif;
		line-height: .5em;
	}
	&:after {
		content: "\201E";
		padding-left: 10px
	}
}

cite {
	margin-bottom: 2em;
	display: block;
	width: 80%;
	text-align: right;
}




