.hero {
	background: url(/public/images/axle_header.png) no-repeat 50% 50%;
	height: 359px;
	color: @white;
	text-align: right;
	padding: 0 30px 0 0;
	hgroup {
		position: relative;
		right: 0;
		//padding: 160px 0px 0 0;
		.google_font_alpha;
		h1, h2, h3, h4, h5 {
			.text_shadow(0 5px 5px, @shadow_color);
		}
	}
}

.no-ie {
	background: url(/public/images/browserSupport.png) no-repeat 50% 30% fadeout(@alpha_grey, 40%);
	.border_radius(0 30px);
	.box_shadow(0 0 10px, @shadow_color);
	position: absolute;
	width: 300px;
	height: 130px;
	.transform(rotate(-11deg));
	z-index: 1000;
	.pull_12(0.35);
	top: -10px;
	.pull_12(.7);
	a {
		display: block;
		color: white;
		width: 280px;
		height: 40px;
		font-weight: bold;
		position: absolute;
		z-index: 300;
		top: 3px;
		left: -40px;
		padding: 82px 40px 0 40px;
		font-family: 'Trebuchet MS',Arial,Verdana,sans-serif;
		.extra_large;
		font-weight: bold;
		.text_shadow(0 0 3px, @shadow_color);
		&:hover {
			text-decoration: none;
		}
	}
}