.slide_show_container {
	.grid_12(9);
	.alpha;
	.omega;
	border: 1px solid @alpha_grey;
}

.slide_show_view {
	background: @echo_grey;
	.grid_12(8.87);
	.alpha;
	.omega;
	margin: 5px;
	height: 300px;
}

.slide_show_tools {
	.grid_12(8.87);
	.alpha;
	.omega;
	margin: 0 5px 5px;
	float: left;
}