.twitter_feed {
	.grid_12(4);
	.clearfix;
	float: right;
	margin: 0 -10px 0 20px;
	.box_shadow (0 0px 10px, @shadow_color);
	display: none;
}

.home_twitter_feed {
	.grid_12(5);
	.box_shadow (0 0px 10px, @shadow_color);
	float: left; 
	.push_12(1);
}
